@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --white: #FFFFFF;
    --dark-blue: #333446;
    --light-blue: #7F8CAA;
    --light-green: #B8CFCE;
    --gray: #EAEFEF;
    --black: #2f2f2f;   
    --chat-green: #14b6a4;
    --chat-gray:#e3e9f0;   
}
*{
    margin: 0;
    padding: 0;
    --moz-box-sizing: border-box;
    --o-box-sizing: border-box;
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* overflow: hidden; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.profile-text{
    transform: translate(0%,-100%);
    left: 12em;
}
@media (max-width: 767px) {
    .center-transfrom{
        transform: translate(-50%, -50%);
    }
    .profile-text{
        left: 50%;
        transform: translate(50%,-50%);
    }
}